<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Whistler, Canada</string>
		<key>subtitle</key>
		<string>Legendary Bowls</string>
		<key>image</key>
		<string></string>
		<key>price</key>
		<dict>
			<key>value</key>
			<real>169495</real>
			<key>currency</key>
			<string>USD</string>
			<key>exponent</key>
			<integer>-2</integer>
		</dict>
		<key>coordinates</key>
		<dict>
			<key>latitude</key>
			<real>50.1130423</real>
			<key>longitude</key>
			<real>-122.9532126</real>
		</dict>
		<key>duration</key>
		<dict>
			<key>timezone</key>
			<string>America/Chicago</string>
			<key>startDate</key>
			<date>2014-02-28T18:00:00Z</date>
			<key>endDate</key>
			<date>2014-03-06T00:00:00Z</date>
		</dict>
		<key>transport</key>
		<dict>
			<key>outbound</key>
			<dict>
				<key>mode</key>
				<string>flight</string>
				<key>carrier</key>
				<string>Virgin America</string>
				<key>identifier</key>
				<string>129</string>
				<key>arrival</key>
				<dict>
					<key>timezone</key>
					<string>America/Vancouver</string>
					<key>time</key>
					<date>2014-03-01T02:30:00Z</date>
					<key>airport</key>
					<dict>
						<key>code</key>
						<string>YVR</string>
						<key>name</key>
						<string>Vancouver Internaional Airport</string>
						<key>coordinates</key>
						<dict>
							<key>latitude</key>
							<integer>0</integer>
							<key>longitude</key>
							<integer>0</integer>
						</dict>
					</dict>
				</dict>
				<key>departure</key>
				<dict>
					<key>timezone</key>
					<string>America/Chicago</string>
					<key>time</key>
					<date>2014-03-01T00:30:00Z</date>
					<key>airport</key>
					<dict>
						<key>code</key>
						<string>ORD</string>
						<key>name</key>
						<string>Chicago O&apos;Hare International Airport</string>
						<key>coordinates</key>
						<dict>
							<key>latitude</key>
							<integer>0</integer>
							<key>longitude</key>
							<integer>0</integer>
						</dict>
					</dict>
				</dict>
			</dict>
			<key>inbound</key>
			<dict>
				<key>mode</key>
				<string>flight</string>
				<key>carrier</key>
				<string>Virgin America</string>
				<key>identifier</key>
				<string>120</string>
				<key>departure</key>
				<dict>
					<key>timezone</key>
					<string>America/Vancouver</string>
					<key>time</key>
					<date>2014-02-05T23:00:00Z</date>
					<key>airport</key>
					<dict>
						<key>code</key>
						<string>YVR</string>
						<key>name</key>
						<string>Vancouver Internaional Airport</string>
						<key>coordinates</key>
						<dict>
							<key>latitude</key>
							<integer>0</integer>
							<key>longitude</key>
							<string></string>
						</dict>
					</dict>
				</dict>
				<key>arrival</key>
				<dict>
					<key>timezone</key>
					<string>America/Chicago</string>
					<key>time</key>
					<date>2014-02-05T02:00:00Z</date>
					<key>airport</key>
					<dict>
						<key>code</key>
						<string>ORD</string>
						<key>name</key>
						<string>Chicago O&apos;Hare International Airport</string>
						<key>coordinates</key>
						<dict>
							<key>latitude</key>
							<integer>0</integer>
							<key>longitude</key>
							<string></string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>Fernie, Canada</string>
		<key>subtitle</key>
		<string>Legendary Bowls</string>
		<key>image</key>
		<string></string>
		<key>price</key>
		<dict>
			<key>value</key>
			<real>145500</real>
			<key>currency</key>
			<string>USD</string>
			<key>exponent</key>
			<integer>-2</integer>
		</dict>
		<key>coordinates</key>
		<dict>
			<key>latitude</key>
			<real>49.463853</real>
			<key>longitude</key>
			<real>-115.086603</real>
		</dict>
		<key>duration</key>
		<dict>
			<key>timezone</key>
			<string>America/Chicago</string>
			<key>startDate</key>
			<date>2014-02-28T18:00:00Z</date>
			<key>endDate</key>
			<date>2014-03-05T00:00:00Z</date>
		</dict>
		<key>transport</key>
		<dict>
			<key>outbound</key>
			<dict>
				<key>mode</key>
				<string>flight</string>
				<key>carrier</key>
				<string>Air Canada</string>
				<key>identifier</key>
				<string>320</string>
				<key>arrival</key>
				<dict>
					<key>timezone</key>
					<string>America/Denver</string>
					<key>time</key>
					<date>2014-03-01T02:30:00Z</date>
					<key>airport</key>
					<dict>
						<key>coordinates</key>
						<dict>
							<key>latitude</key>
							<integer>0</integer>
							<key>longitude</key>
							<integer>0</integer>
						</dict>
						<key>code</key>
						<string>YYC</string>
						<key>name</key>
						<string>Calgary International Airport</string>
					</dict>
				</dict>
				<key>departure</key>
				<dict>
					<key>timezone</key>
					<string>America/Chicago</string>
					<key>time</key>
					<date>2014-03-01T00:30:00Z</date>
					<key>airport</key>
					<dict>
						<key>coordinates</key>
						<dict>
							<key>latitude</key>
							<integer>0</integer>
							<key>longitude</key>
							<integer>0</integer>
						</dict>
						<key>code</key>
						<string>ORD</string>
						<key>name</key>
						<string>Chicago O&apos;Hare International Airport</string>
					</dict>
				</dict>
			</dict>
			<key>inbound</key>
			<dict>
				<key>mode</key>
				<string>flight</string>
				<key>carrier</key>
				<string>Air Canada</string>
				<key>identifier</key>
				<string>321</string>
				<key>departure</key>
				<dict>
					<key>timezone</key>
					<string>America/Denver</string>
					<key>time</key>
					<date>2014-02-04T23:00:00Z</date>
					<key>airport</key>
					<dict>
						<key>code</key>
						<string>YYC</string>
						<key>name</key>
						<string>Calgary International Airport</string>
						<key>coordinates</key>
						<dict>
							<key>latitude</key>
							<integer>0</integer>
							<key>longitude</key>
							<integer>0</integer>
						</dict>
					</dict>
				</dict>
				<key>arrival</key>
				<dict>
					<key>timezone</key>
					<string>America/Chicago</string>
					<key>time</key>
					<date>2014-02-05T02:00:00Z</date>
					<key>airport</key>
					<dict>
						<key>coordinates</key>
						<dict>
							<key>latitude</key>
							<integer>0</integer>
							<key>longitude</key>
							<integer>0</integer>
						</dict>
						<key>code</key>
						<string>ORD</string>
						<key>name</key>
						<string>Chicago O&apos;Hare International Airport</string>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>Big Sky, MT</string>
		<key>subtitle</key>
		<string>The biggest skiing in America</string>
		<key>image</key>
		<string></string>
		<key>price</key>
		<dict>
			<key>value</key>
			<integer>139500</integer>
			<key>currency</key>
			<string>USD</string>
			<key>exponent</key>
			<integer>-2</integer>
		</dict>
		<key>coordinates</key>
		<dict>
			<key>latitude</key>
			<real>45.2839054</real>
			<key>longitude</key>
			<real>-111.4000752</real>
		</dict>
		<key>duration</key>
		<dict>
			<key>timezone</key>
			<string>America/Chicago</string>
			<key>startDate</key>
			<date>2014-02-28T18:00:00Z</date>
			<key>endDate</key>
			<date>2014-03-05T00:00:00Z</date>
		</dict>
		<key>transport</key>
		<dict>
			<key>outbound</key>
			<dict>
				<key>mode</key>
				<string>flight</string>
				<key>carrier</key>
				<string>Delta</string>
				<key>identifier</key>
				<string>9820</string>
				<key>arrival</key>
				<dict>
					<key>timezone</key>
					<string>America/Denver</string>
					<key>time</key>
					<date>2014-03-01T02:30:00Z</date>
					<key>airport</key>
					<dict>
						<key>coordinates</key>
						<dict>
							<key>latitude</key>
							<integer>0</integer>
							<key>longitude</key>
							<integer>0</integer>
						</dict>
						<key>code</key>
						<string>BZN</string>
						<key>name</key>
						<string>Bozeman Gallatin Airport</string>
					</dict>
				</dict>
				<key>departure</key>
				<dict>
					<key>timezone</key>
					<string>America/Chicago</string>
					<key>time</key>
					<date>2014-03-01T00:30:00Z</date>
					<key>airport</key>
					<dict>
						<key>coordinates</key>
						<dict>
							<key>latitude</key>
							<integer>0</integer>
							<key>longitude</key>
							<integer>0</integer>
						</dict>
						<key>code</key>
						<string>ORD</string>
						<key>name</key>
						<string>Chicago O&apos;Hare International Airport</string>
					</dict>
				</dict>
			</dict>
			<key>inbound</key>
			<dict>
				<key>mode</key>
				<string>flight</string>
				<key>carrier</key>
				<string>Delta</string>
				<key>identifier</key>
				<string>9821</string>
				<key>departure</key>
				<dict>
					<key>timezone</key>
					<string>America/Denver</string>
					<key>time</key>
					<date>2014-02-04T23:00:00Z</date>
					<key>airport</key>
					<dict>
						<key>coordinates</key>
						<dict>
							<key>latitude</key>
							<integer>0</integer>
							<key>longitude</key>
							<integer>0</integer>
						</dict>
						<key>code</key>
						<string>BZN</string>
						<key>name</key>
						<string>Bozeman Gallatin Airport</string>
					</dict>
				</dict>
				<key>arrival</key>
				<dict>
					<key>timezone</key>
					<string>America/Chicago</string>
					<key>time</key>
					<date>2014-02-05T02:00:00Z</date>
					<key>airport</key>
					<dict>
						<key>coordinates</key>
						<dict>
							<key>latitude</key>
							<integer>0</integer>
							<key>longitude</key>
							<integer>0</integer>
						</dict>
						<key>code</key>
						<string>ORD</string>
						<key>name</key>
						<string>Chicago O&apos;Hare International Airport</string>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>Lake Tahoe, CA</string>
		<key>subtitle</key>
		<string>There&apos;s only one tahoe</string>
		<key>image</key>
		<string></string>
		<key>price</key>
		<dict>
			<key>value</key>
			<real>169495</real>
			<key>currency</key>
			<string>USD</string>
			<key>exponent</key>
			<integer>-2</integer>
		</dict>
		<key>coordinates</key>
		<dict>
			<key>latitude</key>
			<real>38.9315689</real>
			<key>longitude</key>
			<real>-119.9404389</real>
		</dict>
		<key>duration</key>
		<dict>
			<key>timezone</key>
			<string>America/Chicago</string>
			<key>startDate</key>
			<date>2014-02-28T18:00:00Z</date>
			<key>endDate</key>
			<date>2014-03-04T00:00:00Z</date>
		</dict>
		<key>transport</key>
		<dict>
			<key>outbound</key>
			<dict>
				<key>mode</key>
				<string>flight</string>
				<key>carrier</key>
				<string>Virgin America</string>
				<key>identifier</key>
				<string>80</string>
				<key>arrival</key>
				<dict>
					<key>timezone</key>
					<string>America/Los_Angeles</string>
					<key>time</key>
					<date>2014-03-01T02:30:00Z</date>
					<key>airport</key>
					<dict>
						<key>code</key>
						<string>SFO</string>
						<key>name</key>
						<string>San Francisco International Airport</string>
						<key>coordinates</key>
						<dict>
							<key>latitude</key>
							<integer>0</integer>
							<key>longitude</key>
							<string></string>
						</dict>
					</dict>
				</dict>
				<key>departure</key>
				<dict>
					<key>timezone</key>
					<string>America/Chicago</string>
					<key>time</key>
					<date>2014-03-01T00:30:00Z</date>
					<key>airport</key>
					<dict>
						<key>code</key>
						<string>ORD</string>
						<key>name</key>
						<string>Chicago O&apos;Hare International Airport</string>
						<key>coordinates</key>
						<dict>
							<key>latitude</key>
							<integer>0</integer>
							<key>longitude</key>
							<string></string>
						</dict>
					</dict>
				</dict>
			</dict>
			<key>inbound</key>
			<dict>
				<key>mode</key>
				<string>flight</string>
				<key>carrier</key>
				<string>Virgin America</string>
				<key>identifier</key>
				<string>79</string>
				<key>departure</key>
				<dict>
					<key>timezone</key>
					<string>America/Los_Angeles</string>
					<key>time</key>
					<date>2014-02-28T23:00:00Z</date>
					<key>airport</key>
					<dict>
						<key>code</key>
						<string>SFO</string>
						<key>name</key>
						<string>San Francisco International Airport</string>
						<key>coordinates</key>
						<dict>
							<key>latitude</key>
							<integer>0</integer>
							<key>longitude</key>
							<string></string>
						</dict>
					</dict>
				</dict>
				<key>arrival</key>
				<dict>
					<key>timezone</key>
					<string>America/Chicago</string>
					<key>time</key>
					<date>2014-03-04T02:00:00Z</date>
					<key>airport</key>
					<dict>
						<key>code</key>
						<string>ORD</string>
						<key>name</key>
						<string>Chicago O&apos;Hare International Airport</string>
						<key>coordinates</key>
						<dict>
							<key>latitude</key>
							<integer>0</integer>
							<key>longitude</key>
							<string></string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>Lutsen Mountain, MN</string>
		<key>subtitle</key>
		<string></string>
		<key>image</key>
		<string></string>
		<key>price</key>
		<dict>
			<key>value</key>
			<integer>60000</integer>
			<key>currency</key>
			<string>USD</string>
			<key>exponent</key>
			<integer>-2</integer>
		</dict>
		<key>coordinates</key>
		<dict>
			<key>latitude</key>
			<real>47.6638682</real>
			<key>longitude</key>
			<real>-90.7144922</real>
		</dict>
		<key>duration</key>
		<dict>
			<key>timezone</key>
			<string>America/Chicago</string>
			<key>startDate</key>
			<date>2014-02-28T18:00:00Z</date>
			<key>endDate</key>
			<date>2014-03-09T00:00:00Z</date>
		</dict>
		<key>transport</key>
		<dict>
			<key>outbound</key>
			<dict>
				<key>mode</key>
				<string>flight</string>
				<key>carrier</key>
				<string>Delta</string>
				<key>identifier</key>
				<string>140</string>
				<key>arrival</key>
				<dict>
					<key>timezone</key>
					<string>America/Chicago</string>
					<key>time</key>
					<date>2014-03-01T02:30:00Z</date>
					<key>airport</key>
					<dict>
						<key>code</key>
						<string>MSP</string>
						<key>name</key>
						<string>Minneapolis St-Paul International Airport</string>
						<key>coordinates</key>
						<dict>
							<key>latitude</key>
							<integer>0</integer>
							<key>longitude</key>
							<string></string>
						</dict>
					</dict>
				</dict>
				<key>departure</key>
				<dict>
					<key>timezone</key>
					<string>America/Chicago</string>
					<key>time</key>
					<date>2014-03-01T00:30:00Z</date>
					<key>airport</key>
					<dict>
						<key>code</key>
						<string>ORD</string>
						<key>name</key>
						<string>Chicago O&apos;Hare International Airport</string>
						<key>coordinates</key>
						<dict>
							<key>latitude</key>
							<integer>0</integer>
							<key>longitude</key>
							<string></string>
						</dict>
					</dict>
				</dict>
			</dict>
			<key>inbound</key>
			<dict>
				<key>mode</key>
				<string>flight</string>
				<key>carrier</key>
				<string>Delta</string>
				<key>identifier</key>
				<string>110</string>
				<key>departure</key>
				<dict>
					<key>timezone</key>
					<string>America/Chicago</string>
					<key>time</key>
					<date>2014-02-28T23:00:00Z</date>
					<key>airport</key>
					<dict>
						<key>code</key>
						<string>MSP</string>
						<key>name</key>
						<string>Minneapolis St-Paul International Airport</string>
						<key>coordinates</key>
						<dict>
							<key>latitude</key>
							<integer>0</integer>
							<key>longitude</key>
							<string></string>
						</dict>
					</dict>
				</dict>
				<key>arrival</key>
				<dict>
					<key>timezone</key>
					<string>America/Chicago</string>
					<key>time</key>
					<date>2014-03-04T02:00:00Z</date>
					<key>airport</key>
					<dict>
						<key>code</key>
						<string>ORD</string>
						<key>name</key>
						<string>Chicago O&apos;Hare International Airport</string>
						<key>coordinates</key>
						<dict>
							<key>latitude</key>
							<integer>0</integer>
							<key>longitude</key>
							<string></string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>Kicking Horse Mountain, Canada</string>
		<key>subtitle</key>
		<string>The Bear Essentials</string>
		<key>image</key>
		<string></string>
		<key>price</key>
		<dict>
			<key>value</key>
			<integer>133950</integer>
			<key>currency</key>
			<string>USD</string>
			<key>exponent</key>
			<integer>-2</integer>
		</dict>
		<key>coordinates</key>
		<dict>
			<key>latitude</key>
			<real>51.297569</real>
			<key>longitude</key>
			<real>-117.048252</real>
		</dict>
		<key>duration</key>
		<dict>
			<key>timezone</key>
			<string>America/Chicago</string>
			<key>startDate</key>
			<date>2014-02-28T18:00:00Z</date>
			<key>endDate</key>
			<date>2014-03-07T00:00:00Z</date>
		</dict>
		<key>transport</key>
		<dict>
			<key>outbound</key>
			<dict>
				<key>mode</key>
				<string>flight</string>
				<key>carrier</key>
				<string>Air Canada</string>
				<key>identifier</key>
				<string>300</string>
				<key>arrival</key>
				<dict>
					<key>timezone</key>
					<string>America/Denver</string>
					<key>time</key>
					<date>2014-03-01T02:30:00Z</date>
					<key>airport</key>
					<dict>
						<key>code</key>
						<string>YYC</string>
						<key>name</key>
						<string>Calgary International Airport</string>
						<key>coordinates</key>
						<dict>
							<key>latitude</key>
							<integer>0</integer>
							<key>longitude</key>
							<string></string>
						</dict>
					</dict>
				</dict>
				<key>departure</key>
				<dict>
					<key>timezone</key>
					<string>America/Chicago</string>
					<key>time</key>
					<date>2014-03-01T00:30:00Z</date>
					<key>airport</key>
					<dict>
						<key>code</key>
						<string>ORD</string>
						<key>name</key>
						<string>Chicago O&apos;Hare International Airport</string>
						<key>coordinates</key>
						<dict>
							<key>latitude</key>
							<integer>0</integer>
							<key>longitude</key>
							<string></string>
						</dict>
					</dict>
				</dict>
			</dict>
			<key>inbound</key>
			<dict>
				<key>mode</key>
				<string>flight</string>
				<key>carrier</key>
				<string>Delta</string>
				<key>identifier</key>
				<string>9980</string>
				<key>departure</key>
				<dict>
					<key>timezone</key>
					<string>America/Denver</string>
					<key>time</key>
					<date>2014-03-06T23:00:00Z</date>
					<key>airport</key>
					<dict>
						<key>code</key>
						<string>YYC</string>
						<key>name</key>
						<string>Calgary International Airport</string>
						<key>coordinates</key>
						<dict>
							<key>latitude</key>
							<integer>0</integer>
							<key>longitude</key>
							<string></string>
						</dict>
					</dict>
				</dict>
				<key>arrival</key>
				<dict>
					<key>timezone</key>
					<string>America/Chicago</string>
					<key>time</key>
					<date>2014-03-07T02:00:00Z</date>
					<key>airport</key>
					<dict>
						<key>code</key>
						<string>ORD</string>
						<key>name</key>
						<string>Chicago O&apos;Hare International Airport</string>
						<key>coordinates</key>
						<dict>
							<key>latitude</key>
							<integer>0</integer>
							<key>longitude</key>
							<string></string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>Vail, CO</string>
		<key>subtitle</key>
		<string>Like nothing on Earth</string>
		<key>image</key>
		<string></string>
		<key>price</key>
		<dict>
			<key>value</key>
			<real>185950</real>
			<key>currency</key>
			<string>USD</string>
			<key>exponent</key>
			<integer>-2</integer>
		</dict>
		<key>coordinates</key>
		<dict>
			<key>latitude</key>
			<real>39.606144</real>
			<key>longitude</key>
			<real>-106.354972</real>
		</dict>
		<key>duration</key>
		<dict>
			<key>timezone</key>
			<string>America/Denver</string>
			<key>startDate</key>
			<date>2014-02-28T18:00:00Z</date>
			<key>endDate</key>
			<date>2014-03-06T00:00:00Z</date>
		</dict>
		<key>transport</key>
		<dict>
			<key>outbound</key>
			<dict>
				<key>mode</key>
				<string>flight</string>
				<key>carrier</key>
				<string>United</string>
				<key>identifier</key>
				<string>40</string>
				<key>arrival</key>
				<dict>
					<key>timezone</key>
					<string>America/Denver</string>
					<key>time</key>
					<date>2014-03-01T02:30:00Z</date>
					<key>airport</key>
					<dict>
						<key>code</key>
						<string>DEN</string>
						<key>name</key>
						<string>Denver International Airport</string>
						<key>coordinates</key>
						<dict>
							<key>latitude</key>
							<integer>0</integer>
							<key>longitude</key>
							<string></string>
						</dict>
					</dict>
				</dict>
				<key>departure</key>
				<dict>
					<key>timezone</key>
					<string>America/Chicago</string>
					<key>time</key>
					<date>2014-03-01T00:30:00Z</date>
					<key>airport</key>
					<dict>
						<key>code</key>
						<string>ORD</string>
						<key>name</key>
						<string>Chicago O&apos;Hare International Airport</string>
						<key>coordinates</key>
						<dict>
							<key>latitude</key>
							<integer>0</integer>
							<key>longitude</key>
							<string></string>
						</dict>
					</dict>
				</dict>
			</dict>
			<key>inbound</key>
			<dict>
				<key>mode</key>
				<string>flight</string>
				<key>carrier</key>
				<string>United</string>
				<key>identifier</key>
				<string>20</string>
				<key>departure</key>
				<dict>
					<key>timezone</key>
					<string>America/Denver</string>
					<key>time</key>
					<date>2014-03-05T23:00:00Z</date>
					<key>airport</key>
					<dict>
						<key>code</key>
						<string>DEN</string>
						<key>name</key>
						<string>Denver International Airport</string>
						<key>coordinates</key>
						<dict>
							<key>latitude</key>
							<integer>0</integer>
							<key>longitude</key>
							<string></string>
						</dict>
					</dict>
				</dict>
				<key>arrival</key>
				<dict>
					<key>timezone</key>
					<string>America/Chicago</string>
					<key>time</key>
					<date>2014-03-06T02:00:00Z</date>
					<key>airport</key>
					<dict>
						<key>code</key>
						<string>ORD</string>
						<key>name</key>
						<string>Chicago O&apos;Hare International Airport</string>
						<key>coordinates</key>
						<dict>
							<key>latitude</key>
							<integer>0</integer>
							<key>longitude</key>
							<string></string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>Crystal Mountain Resort, WA</string>
		<key>subtitle</key>
		<string></string>
		<key>image</key>
		<string></string>
		<key>price</key>
		<dict>
			<key>value</key>
			<integer>200000</integer>
			<key>currency</key>
			<string>USD</string>
			<key>exponent</key>
			<integer>-2</integer>
		</dict>
		<key>coordinates</key>
		<dict>
			<key>latitude</key>
			<real>46.935499</real>
			<key>longitude</key>
			<real>-121.474993</real>
		</dict>
		<key>duration</key>
		<dict>
			<key>timezone</key>
			<string>America/Los_Angeles</string>
			<key>startDate</key>
			<date>2014-02-28T18:00:00Z</date>
			<key>endDate</key>
			<date>2014-03-06T00:00:00Z</date>
		</dict>
		<key>transport</key>
		<dict>
			<key>outbound</key>
			<dict>
				<key>mode</key>
				<string>flight</string>
				<key>carrier</key>
				<string>Alaska</string>
				<key>identifier</key>
				<string>2</string>
				<key>arrival</key>
				<dict>
					<key>timezone</key>
					<string>America/Los_Angeles</string>
					<key>time</key>
					<date>2014-03-01T02:30:00Z</date>
					<key>airport</key>
					<dict>
						<key>code</key>
						<string>SEA</string>
						<key>name</key>
						<string>Seattle Tacoma International Airport</string>
						<key>coordinates</key>
						<dict>
							<key>latitude</key>
							<integer>0</integer>
							<key>longitude</key>
							<string></string>
						</dict>
					</dict>
				</dict>
				<key>departure</key>
				<dict>
					<key>timezone</key>
					<string>America/Chicago</string>
					<key>time</key>
					<date>2014-03-01T00:30:00Z</date>
					<key>airport</key>
					<dict>
						<key>code</key>
						<string>ORD</string>
						<key>name</key>
						<string>Chicago O&apos;Hare International Airport</string>
						<key>coordinates</key>
						<dict>
							<key>latitude</key>
							<integer>0</integer>
							<key>longitude</key>
							<string></string>
						</dict>
					</dict>
				</dict>
			</dict>
			<key>inbound</key>
			<dict>
				<key>mode</key>
				<string>flight</string>
				<key>carrier</key>
				<string>Alaska</string>
				<key>identifier</key>
				<string>1</string>
				<key>departure</key>
				<dict>
					<key>timezone</key>
					<string>America/Los_Angeles</string>
					<key>time</key>
					<date>2014-03-05T23:00:00Z</date>
					<key>airport</key>
					<dict>
						<key>code</key>
						<string>SEA</string>
						<key>name</key>
						<string>Seattle Tacoma International Airport</string>
						<key>coordinates</key>
						<dict>
							<key>latitude</key>
							<integer>0</integer>
							<key>longitude</key>
							<string></string>
						</dict>
					</dict>
				</dict>
				<key>arrival</key>
				<dict>
					<key>timezone</key>
					<string>America/Chicago</string>
					<key>time</key>
					<date>2014-03-06T02:00:00Z</date>
					<key>airport</key>
					<dict>
						<key>code</key>
						<string>ORD</string>
						<key>name</key>
						<string>Chicago O&apos;Hare International Airport</string>
						<key>coordinates</key>
						<dict>
							<key>latitude</key>
							<integer>0</integer>
							<key>longitude</key>
							<string></string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>Aspen Mountain, CO</string>
		<key>subtitle</key>
		<string>A mountain for everyone</string>
		<key>image</key>
		<string></string>
		<key>price</key>
		<dict>
			<key>value</key>
			<real>240000</real>
			<key>currency</key>
			<string>USD</string>
			<key>exponent</key>
			<integer>-2</integer>
		</dict>
		<key>coordinates</key>
		<dict>
			<key>latitude</key>
			<real>39.19269</real>
			<key>longitude</key>
			<real>-106.8397825</real>
		</dict>
		<key>duration</key>
		<dict>
			<key>timezone</key>
			<string>America/Denver</string>
			<key>startDate</key>
			<date>2014-02-28T18:00:00Z</date>
			<key>endDate</key>
			<date>2014-03-06T00:00:00Z</date>
			<key>transport</key>
			<dict>
				<key>outbound</key>
				<dict>
					<key>mode</key>
					<string>flight</string>
					<key>carrier</key>
					<string>United</string>
					<key>identifier</key>
					<string>40</string>
					<key>arrival</key>
					<dict>
						<key>timezone</key>
						<string>America/Denver</string>
						<key>time</key>
						<date>2014-03-01T02:30:00Z</date>
						<key>airport</key>
						<dict>
							<key>code</key>
							<string>DEN</string>
							<key>name</key>
							<string>Denver International Airport</string>
							<key>coordinates</key>
							<dict>
								<key>latitude</key>
								<integer>0</integer>
								<key>longitude</key>
								<string></string>
							</dict>
						</dict>
					</dict>
					<key>departure</key>
					<dict>
						<key>timezone</key>
						<string>America/Chicago</string>
						<key>time</key>
						<date>2014-03-01T00:30:00Z</date>
						<key>airport</key>
						<dict>
							<key>code</key>
							<string>ORD</string>
							<key>name</key>
							<string>Chicago O&apos;Hare International Airport</string>
							<key>coordinates</key>
							<dict>
								<key>latitude</key>
								<integer>0</integer>
								<key>longitude</key>
								<string></string>
							</dict>
						</dict>
					</dict>
				</dict>
				<key>inbound</key>
				<dict>
					<key>mode</key>
					<string>flight</string>
					<key>carrier</key>
					<string>United</string>
					<key>identifier</key>
					<string>20</string>
					<key>departure</key>
					<dict>
						<key>timezone</key>
						<string>America/Denver</string>
						<key>time</key>
						<date>2014-03-05T23:00:00Z</date>
						<key>airport</key>
						<dict>
							<key>code</key>
							<string>DEN</string>
							<key>name</key>
							<string>Denver International Airport</string>
							<key>coordinates</key>
							<dict>
								<key>latitude</key>
								<integer>0</integer>
								<key>longitude</key>
								<string></string>
							</dict>
						</dict>
					</dict>
					<key>arrival</key>
					<dict>
						<key>timezone</key>
						<string>America/Chicago</string>
						<key>time</key>
						<date>2014-03-06T02:00:00Z</date>
						<key>airport</key>
						<dict>
							<key>code</key>
							<string>ORD</string>
							<key>name</key>
							<string>Chicago O&apos;Hare International Airport</string>
							<key>coordinates</key>
							<dict>
								<key>latitude</key>
								<integer>0</integer>
								<key>longitude</key>
								<string></string>
							</dict>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>Deer Valley Resort, UT</string>
		<key>subtitle</key>
		<string></string>
		<key>image</key>
		<string></string>
		<key>price</key>
		<dict>
			<key>value</key>
			<integer>160000</integer>
			<key>currency</key>
			<string>USD</string>
			<key>exponent</key>
			<integer>-2</integer>
		</dict>
		<key>coordinates</key>
		<dict>
			<key>latitude</key>
			<real>40.6474505</real>
			<key>longitude</key>
			<real>-111.4768607</real>
		</dict>
		<key>duration</key>
		<dict>
			<key>timezone</key>
			<string>America/Denver</string>
			<key>startDate</key>
			<date>2014-02-28T18:00:00Z</date>
			<key>endDate</key>
			<date>2014-03-06T00:00:00Z</date>
			<key>transport</key>
			<dict>
				<key>outbound</key>
				<dict>
					<key>mode</key>
					<string>flight</string>
					<key>carrier</key>
					<string>American</string>
					<key>identifier</key>
					<string>40</string>
					<key>arrival</key>
					<dict>
						<key>timezone</key>
						<string>America/Denver</string>
						<key>time</key>
						<date>2014-03-01T02:30:00Z</date>
						<key>airport</key>
						<dict>
							<key>code</key>
							<string>SLC</string>
							<key>name</key>
							<string>Salt Lake City International Airport</string>
							<key>coordinates</key>
							<dict>
								<key>latitude</key>
								<integer>0</integer>
								<key>longitude</key>
								<string></string>
							</dict>
						</dict>
					</dict>
					<key>departure</key>
					<dict>
						<key>timezone</key>
						<string>America/Chicago</string>
						<key>time</key>
						<date>2014-03-01T00:30:00Z</date>
						<key>airport</key>
						<dict>
							<key>code</key>
							<string>ORD</string>
							<key>name</key>
							<string>Chicago O&apos;Hare International Airport</string>
							<key>coordinates</key>
							<dict>
								<key>latitude</key>
								<integer>0</integer>
								<key>longitude</key>
								<string></string>
							</dict>
						</dict>
					</dict>
				</dict>
				<key>inbound</key>
				<dict>
					<key>mode</key>
					<string>flight</string>
					<key>carrier</key>
					<string>American</string>
					<key>identifier</key>
					<string>20</string>
					<key>departure</key>
					<dict>
						<key>timezone</key>
						<string>America/Denver</string>
						<key>time</key>
						<date>2014-03-05T23:00:00Z</date>
						<key>airport</key>
						<dict>
							<key>code</key>
							<string>SLC</string>
							<key>name</key>
							<string>Salt Lake City International Airport</string>
							<key>coordinates</key>
							<dict>
								<key>latitude</key>
								<integer>0</integer>
								<key>longitude</key>
								<string></string>
							</dict>
						</dict>
					</dict>
					<key>arrival</key>
					<dict>
						<key>timezone</key>
						<string>America/Chicago</string>
						<key>time</key>
						<date>2014-03-06T02:00:00Z</date>
						<key>airport</key>
						<dict>
							<key>code</key>
							<string>ORD</string>
							<key>name</key>
							<string>Chicago O&apos;Hare International Airport</string>
							<key>coordinates</key>
							<dict>
								<key>latitude</key>
								<integer>0</integer>
								<key>longitude</key>
								<string></string>
							</dict>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
</array>
</plist>
